/* 404 error page */
.page_404 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--white);
    font-family: 'Arvo', serif;
}

.page_404 img {
    width: 100%;
}

.error-bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
}

.error-bg h1 {
    font-size: 5rem;
}

.contant_box_404 h3 {
    font-size: 1.5rem;
}

.contant_box_404 p {
    font-size: 1rem;
    font-weight: 600;
}

.contant_box_404 a {
    color: #fff !important;
    padding: 0.6rem 1.2rem;
    background-color: var(--faux-lime-green);
    margin: 1.2rem 0;
    display: inline-block;
    border-radius: 0.2rem;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.contant_box_404 a:hover {
    background-color: #fff;
    color: var(--faux-lime-green) !important;
    text-decoration: none;
    border: 0.1rem solid var(--faux-lime-green);
}

.contant_box_404 {
    margin-top: -50px;
}

/* contact page styling */
.section-contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-display {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 30rem;
}

.contact-display div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction:column;
    animation: animate 10s  infinite;
     background: linear-gradient(40deg, var(--white), var(--faux-lime-green), var(--faux-lime-green));
}
.contact-display div:hover{
    animation-play-state: paused;
}

.contact-display div a {
    margin: auto;
    color: var(--black);
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
}
.contact-display div a svg{
    margin: 0.5rem;
}
.contact-display div a:hover{
    color: var(--white);
}
.contact-display div a {
    color: var(--black);

}

/* animations */
@keyframes animate {
    0% {
        transform: perspective(1000px) rotateX(0deg);
    }

    100% {
        transform: perspective(1000px) rotateX(359deg);
    }
}
/* media queries */
@media screen and (max-width: 667px) {
    .contact-display {
        position: absolute;
        top: 25%;
        left: 25%;
        width: 55%;
        height: 30rem; 
    }
    .contact-display div a {
        font-size: 1.5rem;
        margin: auto;
    }
}
@media screen and (max-width: 440px) {
    .contact-display {
        position: absolute;
        top: 25%;
        left: 15%;
        width: 70%;
        height: 30rem; 
    }
    .contact-display div a {
        font-size: 1.5rem;
        margin: auto;
    }
}
@media screen and (max-width: 440px) {
    .contact-display {
        position: absolute;
        top: 25%;
        left: 15%;
        width: 70%;
        height: 25rem; 
    }
    .contact-display div a {
        font-size: 1.5rem;
        margin: auto;
    }
}